@use "sass:math";

@mixin animation($animation-name) {
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin transform($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -ms-transform: $transform;
}

.opacity-0 {
  opacity: 0;
}
.opacity-25 {
  opacity: 0.25;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-75 {
  opacity: 0.75;
}
.opacity-100 {
  opacity: 1;
}

$blue: rgba(45, 80, 97, 0.856);
$gray: rgba(143, 143, 143, 0.856);
$orange: rgba(255, 157, 0, 0.85);

.bg-blue {
  background-color: $blue;
}

.bg-gray {
  background-color: $gray;
}

.bg-orange {
  background-color: $orange;
}

.heroHeader {
  &_img {
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/back.jpg);
    z-index: -30;
    &_blue {
      height: 100%;
      width: 100%;
      z-index: -20;
      background-color: $blue;
    }
  }

  &_words {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    white-space: nowrap;

    &_topMargin {
      height: 14%;
    }

    &_top {
      top: 14%;
      height: 72%;
    }

    &_bottom {
      top: 86%;
      height: 12%;
    }

    &_presents {
      display: block;
      color: rgba(255, 255, 255, 0.856);
      opacity: 0;
      @include animation(move-fadeup);
      animation-delay: 3s;
      animation-duration: 2.5s;
      animation-fill-mode: forwards;
    }

    &_title {
      display: block;
      opacity: 0;
      @include animation(move-fadeup);
      animation-delay: 3s;
      animation-duration: 2.5s;
      animation-fill-mode: forwards;
    }

    &_phrase {
      display: block;
      color: rgba(255, 255, 255, 0.856);
      @include animation(move-fadeup);
      animation-duration: 2.5s;
      animation-fill-mode: forwards;
    }

    @media (max-width: 768px) {
      &_presents {
        font-size: 1.1rem !important;
      }
      &_title {
        font-size: 1.8rem !important;
      }
      &_phrase {
        font-size: 0.9rem !important;
      }
    }

    @media (min-width: 768px) {
      &_word {
        font-size: 20px !important;
      }
      &_title {
        font-size: 56px !important;
      }
      &_phrase {
        font-size: 24px !important;
      }
    }
  }
}

@include keyframes(move-fadeup) {
  0% {
    transform: translate(0%, 30%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

.bg_img {
  top: 0;
  left: 0;
  height: 101%;
  width: 101%;
  position: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(./assets/back.jpg);
  z-index: -30;
}

.bg_img_front {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -20;
}

.el_scrollIcon {
  position: block;
  z-index: 10;
  opacity: 0;
  @include animation(move-fadeup);
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  a {
    &:link,
    &:visited,
    &:focus,
    &:hover,
    &:active {
      color: rgb(255, 255, 255) !important;
      text-decoration: none;
    }
  }
  a span {
    position: absolute;
    top: -200%;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    @include animation(move-y 1.2s infinite linear);
  }

  @include keyframes(move-y) {
    0% {
      transform: translateY(-10%);
      opacity: 1;
    }
    100% {
      transform: translateY(20%);
      opacity: 0.1;
    }
  }

  a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
}

.navbar {
  transition: all 0.5s linear;
  a:hover,
  a:focus {
    animation-name: rubberBand;
    animation-duration: 1s;
  }
}

.navbar__transparent {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar__blue {
  background-color: rgba(0, 130, 153, 0.8);
}
.navbar__orange {
  background-color: rgba(255, 157, 0, 0.85);
}
.navbar__index {
  animation-delay: 3s;
}

.nav-item_style {
  text-decoration: underline;
  padding: 0px 8px 0px 8px;
}

.bg-azure {
  background-color: azure;
}

.text-azure {
  color: azure !important;
}

.mincho {
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN",
    "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
  &__bold {
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN",
      "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: 600;
  }
}

.carousel_img {
  width: 100%;
}

.bl_labMember {
  background-color: rgba(0, 0, 0, 0.281);

  &_tiles {
    animation-delay: 0.5s;
    &__sem {
      background-color: rgba(204, 108, 0, 0.4);
    }
    &__new {
      background-color: rgba(0, 142, 198, 0.4);
    }
    &__new2 {
      background-color: rgba(206, 206, 206, 0.4);
    }
    &__new3 {
      background-color: rgb(204, 0, 0);
    }
    &__new4 {
      background-color: rgb(149, 0, 204);
    }
    &__new5 {
      background-color: rgb(0, 204, 54);
    }
    p {
      color: rgb(223, 223, 223);
    }
  }
}

.bl_product {
  animation-delay: 0.5s;
  img {
    width: 100%;
    max-width: 320px;
  }
}

.bl_product__white {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(0, 0, 0);
  a {
    &:link,
    &:visited,
    &:focus,
    &:hover,
    &:active {
      color: rgb(0, 31, 99) !important;
    }
  }
}

.bl_product__black {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  a {
    &:link,
    &:visited,
    &:focus,
    &:hover,
    &:active {
      color: rgb(147, 255, 255) !important;
    }
  }
}

.nav_title {
  margin: 0 auto 0 10;
  transition-duration: 1s;
  a {
    text-decoration: none;
    &:link,
    &:visited,
    &:focus,
    &:hover,
    &:active {
      color: rgb(255, 255, 255) !important;
    }
  }
}

.navbar-toggler__index {
  margin: 0 10 0 auto;
}

html,
body {
  overflow-x: hidden;
}

#header {
  padding: 16px;
  p {
    text-decoration: underline;
  }
}

.row {
  margin: 0;
}

.hp_p5 {
  padding: 5px;
}

.hp_p10 {
  padding: 10px;
}

.footer {
  color: #e4e4e4;
}

p {
  margin: 0;
}

// ボタン
@import url("https://fonts.googleapis.com/css?family=Mukta:700");

$white: #fff;
$black: #000000;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

@mixin linkbutton($black, $white) {
  position: relative;
  cursor: pointer;
  outline: none;
  border: 0;
  display: inline-block;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: 3rem;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      width: 100%;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          right: 1.5rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $white;
            border-right: 0.125rem solid $white;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 1.85rem 0 0;
      color: $white;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
      z-index: 2;
    }
  }
  &:hover,
  &:focus {
    .circle {
      width: 3rem;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(0.625rem, 0);
        }
      }
    }
    .button-text {
      color: $black;
    }
  }
}

.linkbutton-white {
  @include linkbutton(#000, #fff);
}

.linkbutton-black {
  @include linkbutton(#fff, #000);
}

// 雨
.rain {
  $rain_drop_height: 20vh;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  opacity: 0;
  animation: rainall;
  animation-delay: 3s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  z-index: 300;

  & > div {
    animation: rain 500ms linear infinite;
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    left: 0;
    top: -$rain_drop_height;
    width: 1px;
    height: $rain_drop_height;
    transform-origin: center center;
  }
  @for $i from 1 through 15 {
    & > div:nth-child(#{$i}) {
      animation-delay: #{$i * 100}ms;
      animation-duration: random(250) + 375ms;
      left: random(85) + vw;
    }
  }

  @keyframes rainall {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes rain {
    from {
      transform: rotate(-2deg) translateY(-$rain_drop_height);
    }
    to {
      transform: rotate(-2deg) translateY(80vh + $rain_drop_height);
    }
  }
}

.bg_loader_spinner,
.bg_loader_spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

$loadertranslate: -50%;
.bg_loader_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate($loadertranslate, $loadertranslate);
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  @include animation(load8 1.1s infinite linear);
}

@include keyframes(load8) {
  0% {
    transform: translate($loadertranslate, $loadertranslate) rotate(0deg);
  }
  100% {
    transform: translate($loadertranslate, $loadertranslate) rotate(360deg);
  }
}

// 水滴表現

@mixin dropdiv(
  $top,
  $dropTime,
  $waveTime,
  $dropR,
  $dropM,
  $waveTop,
  $waveWidth,
  $waveHeight
) {
  .dropdiv {
    position: absolute;
    width: 100%;
    height: $top;
    z-index: 3;
    padding: 0;
  }

  .dos {
    margin: $dropM auto;
  }

  .drop {
    position: relative;
    width: $dropR;
    height: $dropR;
    top: -10000px;
    margin: 0 auto;
    background: #fff;
    border-radius: $dropR;
    animation-name: drip;
    animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
    animation-duration: $dropTime;
  }

  .drop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 15px solid rgba(255, 255, 255, 1);
    top: -10px;
  }

  .wave {
    position: relative;

    div {
      position: absolute;
      left: 50%;
      border: #ffffff 3px solid;
      border-radius: #{math.div($waveWidth, 2)} / #{math.div($waveHeight, 2)};
      @include transform(translate(-50%, -50%));
    }

    @for $i from 1 through 3 {
      & > div:nth-child(#{$i}) {
        @include animation(ripple-#{$i});
        animation-duration: $dropTime + $waveTime;
      }
    }
  }

  @for $i from 1 through 3 {
    $border-width: 3px;
    @include keyframes(ripple-#{$i}) {
      0% {
        opacity: 0;
        top: $waveTop;
        width: 0px;
        height: 0px;
        border-width: $border-width;
      }
      41% {
        opacity: 0;
        top: $waveTop;
        width: 0px;
        height: 0px;
        border-width: $border-width;
      }
      42% {
        opacity: #{math.div(1, 3) * (4 - $i)};
        top: $waveTop;
        width: 0px;
        height: 0px;
        border-width: $border-width;
      }
      100% {
        opacity: 0;
        top: $waveTop + 25;
        width: #{math.div($waveWidth, 3) * $i};
        height: #{math.div($waveHeight, 3) * $i};
        border-width: #{math.div($border-width, 100)};
      }
    }
  }

  @keyframes drip {
    0% {
      top: -10000px;
    }
    1% {
      top: 0px;
    }
    100% {
      top: 340px;
    }
  }
}

// PC版
// $dropTime: 1.5s;
// $waveTime: 2s;
// $dropR: 10px;
// $dropM: 235px;
// $waveTop: 150px;
// $waveWidth: 50vw;
// $waveHeight: 10vw;

// モバイル
// $waveTopDevice: 100px;
// $waveWidthDevice: 85vw;
// $waveHeightDevice: 17vw;

@media (min-width: 768px) {
  @include dropdiv(50%, 1.5s, 2s, 10px, 235px, 150px, 50vw, 10vw);
}
@media (max-width: 768px) {
  @include dropdiv(40%, 1.5s, 2s, 10px, 235px, 90px, 85vw, 17vw);
}
